<strong>Olá, {{student}}</strong>
<p>Obrigado por entrar em contato</p>
<p>Segue os detalhes abaixo.</p>
<p>
  <strong>Aluno:</strong> {{question}}<br />
  <strong>Plano:</strong> {{answer}}<br />
  <br />
  <strong>Esperamos que sua dúvida tenha sido esclarecida.</strong>
</p>
